body {
    background: rgb(231, 222, 196);
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .face {
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
  }
  
  .eyebrows {
    position: absolute;
    z-index: 300;
    top: 95px;
    left: 60px;
    width:130px; height:20px;  
    border:solid 3px #000;
    border-color:#000 transparent transparent transparent;
    border-radius: 50%/20px 20px 0 0;
  }
  .eyebrows:before {
    position: absolute;
    content: '';
    left: 230px;
    width:130px; height:20px;  
    border:solid 3px #000;
    border-color:#000 transparent transparent transparent;
    border-radius: 50%/20px 20px 0 0;
  }
  
  .eyes:before,
  .eyes:after {
    position: absolute;
    content: '';
    top: 30%;
    width: 120px;
    height: 70px;
    border: 3px solid black;
    background: #fff;
    border-top-left-radius: 70% 40%;
    border-top-right-radius: 70% 40%;
    border-bottom-left-radius: 70% 100%;
    border-bottom-right-radius: 70% 100%;
  }
  .eyes:before {
    left: 13%;
  }
  .eyes:after {
    right: 15%;
  }
  .pupils:before,
  .pupils:after {
    position: absolute;
    content: '';
    z-index: 9000;
    background: black;
    width: 10px;
    height: 10px;
    top: 35%;
    border-radius: 50%;
  }
  .pupils:before {
    left: 24%;
  }
  .pupils:after {
    left: 70%;
  } 
  
  .nose-base {
    position: absolute;
    top: 33%;
    left: 44%;
    width: 4px;
    height: 150px;
    border: 4px solid black;
    border-left: 0;
    border-top-right-radius: 98% 50%;
    border-bottom-right-radius: 98% 50%;
  }
  
  .nostril-1 {
    position: absolute;
    top: 65.4%;
    left: 44%;
    width: 3px;
    height: 15px;
    border-radius: 30%;
    background: black;
    transform: rotate(-30deg);
  }
  
  .nostril-2 {
    position: absolute;
    top: 67%;
    left: 48.3%;
    width: 3px;
    height: 4px;
    border-radius: 50%;
    background: black;
    transform: rotate(-30deg);
  }
  
  .mouth {
    position: absolute;
    top: 79%;
    left: 38%;
    width: 90px;
    height: 30px;
    border: 3px solid black;
    background: rgb(186, 138, 118);
    border-top-left-radius: 70% 0%;
    border-top-right-radius: 70% 0%;
    border-bottom-left-radius: 70% 150%;
    border-bottom-right-radius: 70% 150%;
  }
  